/* Header CSS  */

body{
    margin-top: 0px;
    background-color: #FFFBEC;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-right: 0%;
}
button:hover, li:hover{
    cursor: pointer;
}
header{
    display: flex;
    width: 100%;
}
header a{
    flex-grow: 1;
    margin-top: 10px;
    padding-left: 87px;
    margin-bottom: 0px;
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-size: 48px;
    font-weight: 800;
    line-break: normal;
    color: #20473D;
    width: 173.666px;
    height: 67px;
    flex-shrink: 0;
    text-decoration: none;
}
header nav{
    flex-grow: 2;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: #0E2C25;
    width: 100%;
    height: 90px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    border-radius: 0px 0px 0px 30px;
}
.nav-items{
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-shrink: 0;
}

#nav-btn{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    border: 3px solid #FDB733;
    background: #FDB733;
    width: 238.161px;
    height: 45px;
    flex-shrink: 0;
    margin-right: 31px;
}

#nav-btn:hover{
    background-color: #a8867d;
    border: 3px solid #a8867d;
    color:white
}

main{
    width: 100%;
}

/* Landing Page */

.hero-wrap{
    display: flex;
    height: 900px;
    width: 100%;
}
.left-hero{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}

.left-hero h1{
    color: #0E2C25;
    font-family: "Playfair Display";
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 87px;
    margin-bottom: 10px;
}

.left-hero p {
    color: #0E2C25;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 100px;
    margin-bottom: 40px;
}
.right-hero{
    width: 50%;
    background-color: #FDB733;
}

.btn-group button{
    margin-top: 40px;
    width: 264px;
    height: 58px;
    flex-shrink: 0;
    color: #0E2C25;
    background-color: transparent;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-group button:first-child{
    margin-left: 100px;
    border-radius: 18px;
    border: 3px solid #20473D;  
}

.btn-group button:first-child:hover{
    background-color: #a8867d;
    border: 3px solid #a8867d;  
    color:white
}

.btn-group button:nth-child(2){
    margin-left: 15px;
    border: none;
}

#hero-img{
    width: 650.962px;
    height: 603.465px;
    margin-left: 200px;
    margin-top: 176px;
    transform: rotate(0.256deg);
    border-radius: 15px 500px 500px 15px;
    background: url(assets/hero-img-fotor.jpg) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}

/* Data Section */

.data-wrap{
    display: flex;
    justify-content: space-around;
    background-color: #0E2C25;
    width: 100%;
}

.data-items{
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
}

.data-items span{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

/* Introduction Section */

.intro-wrap{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.intro-wrap div {
    width: 1300px;
}
.intro-wrap h2{
    color: #0E2C25;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.intro-wrap p{
    color: #0E2C25;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-top: 100px;
}

/* Provider Section */

.provider-section{
    display: flex;
    flex-direction: column;
    height: 1024px;
    background-color: #0E2C25;
}

.provider-section h2{
    padding-top: 150px;
    color: #fff;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.provider-section .card{
    display: flex;
    margin-bottom: 50px;
}
.provider-section div:first-child{  
    position: relative;
    z-index: 2;
    width: 516px;
    height: 546px;
    flex-shrink: 0;
    border-radius: 500px 500px 15px 15px;
    background: #FDB733;
    box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
    left: 400px;
}

.provider-section .card div:nth-child(2){  
    position: absolute;
    z-index: 1;
    width: 784px;
    height: 466px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFFBEC;
    left: 650px;
    margin-top: 50px;
    box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
    
}

#provider-btn{
    width: 264px;
    height: 58px;
    flex-shrink: 0;
    color: #fff;
    border-radius: 18px;
    border: 3px solid #fff; 
    background-color: transparent;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: center;
}

#provider-btn:hover{
    background-color: #a8867d;
    border: 3px solid #a8867d;  
    color:white
}