/* Header CSS  */

body{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    color: #0E2C25;
    margin: 0;
}
section{
    width: 100;
}
h2{
    font-family: "Playfair Display", serif;
    font-size: 30px;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}
h1{
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 700;
}

header{
    display: flex;
    background-color: #0E2C25;
}

#logo, #footer-logo{ 
    margin: 10px 0 0 25px;
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-size: 48px;
    font-weight: 800;
    color: #FFF;
    height: 67px;
    text-decoration: none;
}
nav{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
}
#mobile-tophero{
    height: 40vh;
    background: #0E2C25 url(/assets/hero-img.png) center/cover no-repeat;
}
/* hero section */

.hero-wrap{
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 0;

}
.left-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-hero h1{
    margin: 15px 25px 15px 25px;
}

.left-hero p {
    text-align: left;
    margin: 15px 25px 15px 25px;

}
.right-hero{
    display: none;
}

.btn-group{
    display: flex;
    gap: 2em;
    margin: 15px 25px 15px 25px;
}

.btn-group button{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 200px;
    height: 60px;
    border: solid;
    border-radius: 10px;
    background-color: #0E2C25;
}

/* Data Section */

.data-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0E2C25;
    padding: 20px 0 20px 0;
    gap: 5px;
}

.data-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 95%;
    height:140px;
    background-color: #fff;
    border-radius: 10px;
}

.data-items span{
    font-size: 18px;
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-weight: 800;
    margin: 0;
}
.data-items p{
    margin: 10px 0 10px 0;
}

/* Introduction Section */

.intro-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 550px;
    margin: 50px 0 50px 0;
}
.intro-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 25px 25px 25px 25px;
}

.intro-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-image: url(assets/intro-img.png);
    width: 150px;
    height: 150px;
}

.intro-words h2{
    width: 250px;
}
.intro-p{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.intro-words{
    width: 270px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
/* Provider Section */

.provider-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0E2C25;
}

.provider-section h2{
    margin-top: 100px;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.provider-section .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 20px;
    height: 100%;
}
.provider-img{
    width: 216px;
    height: 246px;
    border-radius: 500px 500px 15px 15px;
    background: url(assets/provider-img.jpg) lightgray center / cover no-repeat;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.provider-p{  
    width: 175px;
    height: 160px;
    padding: 25px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);    
}
#provider-btn{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 216px;
    height: 38px;
    color: #fff;
    border-radius: 5px;
    border: 3px solid #FDB733; 
    background-color: #FDB733;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    align-self: center;
}

/* Resource Section */
.resource-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.resource-wrap h2{
    width: 350px;
    text-align: center;
    margin-bottom: 20px;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-container, .right-container{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
}
.resource-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
}
.resource-title p{
    font-weight: 600;
    margin-bottom: 20px;
}
.resource-words{
    text-align: justify;
}
.resources, .resources-left, .resources-right{
    display: flex;
    flex-direction: column;
    gap: 4em;
}
.resource-img{
    margin-top: 50px;
    background-image: url(assets/smiley-mask.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}



/* Community Section */


.community-wrap {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.community-contents{
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items:center;
    gap: 3em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.community-contents h2{
    margin-top: 50px;
}
.community-contents p{
    width: 70%;
    text-align: center;
}

.form-wrap form{
    width: 100%;
}
form{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
label, input {
    width: 300px;
}
input{
    height:40px;
    background-color: #f3f3f3;
    border-radius: 5px;
    border: none;
}

input::placeholder{
    color: #0E2C25;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

#form-submit{
    font-family: 'Poppins', sans-serif;
    background-color: #0E2C25;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 30px;

}
#form-submit:hover{
    cursor: pointer;
    background-color: #522f18;
}

/* Footer */

footer{
    text-align: center;
    height: 200px;
    background-color: #0E2C25;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

#footer-logo{
    margin-left: 0;
}


button:hover, #nav-btn:hover{
    background-color: #522f18;
}

@media (min-width: 430px){
    #mobile-tophero{
        height: 60vh;
    }

    .left-hero{
        justify-content: center;
        align-items: center;
    }
    .left-hero h1, .left-hero p, .btn-group{
        width: 400px;
    }
    .data-wrap{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .data-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 70%;
        background-color: transparent;
        color: #fff;
    }
    
    .data-items span{
        font-size: 50px;
        font-family: ui-sans-serif, system-ui, sans-serif;
        font-weight: 800;
        margin: 0;
    }
    .data-items p{
        margin: 10px 0 10px 0;
        width: 150px;
    }
    .intro-wrap h2{
        width: 250px;
    }
    .intro-p{
        width: 100%;
    }
    
}

@media (min-width: 630px) {
    header{
        display: flex;
        width: 100%;
        background-color: #0E2C25;
    }
    #logo{
        color: #FFF;
        flex-grow: 1;
    }

    nav ul{
        display: flex;
        width: 100%;
        gap: 2rem;
        list-style: none;
        align-items: center;
    }
    .nav-items{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        text-decoration: none;
    }
    
    li:first-child{
        margin-left: 30px;
    }

    
    #nav-btn{
        font-size: 16px;
        color: #fff;
        font-weight: 600;
        border-radius: 10px;
        border: transparent;
        background: #FDB733;
        width: 100%;
        height: 100%;
    }

    h2{
        font-size: 34px;
    }   

    body h1{
        font-size: 45px;
    }

    #mobile-tophero{
        display: none;
    }

    .hero-wrap{
        flex-direction: row;
        width: 100%;
        height: 408px;
        margin: 0;
    }
    .left-hero, .right-hero{
        width: 50%;
        height: 100%;
    }
    .right-hero{
        display: flex;
        background-color: #FDB733;
        align-items: center;
        justify-content: center;
    }
    #hero-img{
        background: url(/assets/hero-img.png) lightgray 50% / cover no-repeat;
        border-radius: 15px 500px 500px 15px; 
        box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
        width: 45vw;
        height: 40vh;
    }
    
    .btn-group button{
        font-size: 16px;
        width: 130px;
        height: 60px;
    }

    .intro-wrap{
        display: flex;
    }

    .provider-img{
        width: 316px;
        height: 346px;
    }
    .provider-p{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 275px;
    }

    #provider-btn{
        width: 300px;
        height: 50px;
        font-size: 16px;
    }    
    
}

@media (min-width: 830px){ 
    .hero-wrap, .intro-wrap, .resource-wrap, .provider section, .community-wrap{
        height: 90vh;
    }
    #nav-btn{
        height: 40px;

    }
    nav{
        display: flex;
    }
    .hero-wrap{
        display: flex;
        height: 616px;
    }
    .right-hero{
        display: flex;
    }
    #hero-img{
        width: 40vw;
        height: 50vh;
    }

    h2{
        font-size: 36px;
    }   
    body h1{
        font-size: 40px;
    }
    .left-hero h1 , .left-hero p{
        width: 400px;
    }

    .btn-group button{
        width: 300px;
        height: 60px;
    }
    
    .data-items p{
        width: 250px;
    }

    .intro-img{
        width: 500px;
        height: 450px;
    }
    .intro-contents{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .intro-words{
        width:  50%;
        margin-left: 20px;
    }
    .intro-wrap h2{
        width: 100%;
    }
    
    .intro-p{
        display: flex;
    }
    .intro-images{
        margin-left: 20px;
    }

    .provider-img{
        position: relative;
        z-index: 100;
        left: 50px;
        width: 316px;
        height: 346px;
    }
    .provider-section .card{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .provider-p{
        position: relative;
        right: 50px;
        top: 23px;
        width: 350px;
        height: 250px;
    } 
    .provider-p p{
        margin-left: 80px;
    }

    .resource-wrap h2{
        width: 90%;
    }
    .main-container, .resources-left, .resources-right{
        flex-direction: row;
    }
    .main-container{
        justify-content: space-around;
        gap: 2em;
    }
    .resources{
        gap: 2em;
    }
    .resource-item{
        width: 200px;
    }

    .resource-img{
        width: 300px;
        height: 450px;
    }

    .community-contents{
        width: 600px;
        height: 600px;
    }

}


@media (min-width: 1030px){ 
    .hero-wrap{
        height: 716px;
    }
    .right-hero{
        display: flex;
    }

    #hero-img{
        width: 36vw;
        height: 50vh;
    }
    h2{
        font-size: 40px;
    }   

    body h1{
        font-size: 50px;
    }
    .left-hero h1 , .left-hero p{
        width: 400px;
    }
    .btn-group{
        width: 400px;
    }
    .data-items p{
        width: 350px;
    }
    .provider-img{
        width: 416px;
        height: 446px;
    }
    .provider-p{
        top: 33px;
        width: 450px;
        height: 330px;
    } 
    
    .main-container{
        margin: 50px;
        gap: 10vw;
    }
    .resource-item{
        width: 250px;
    }
    .resource-img{
        width: 350px;
        height: 500px;
    }

    .community-contents{
        width: 700px;
        height: 600px;
    }

}

@media (min-width: 1200px){ 
    header{
        display: flex;
        width: 100%;
        background-color: #0E2C25;
    }
    nav ul{
        display: flex;
        gap: 2rem;
        list-style: none;
        align-items: center;
    }
    .nav-items{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
    }
    
    li:first-child{
        margin-left: 30px;
    }

    #nav-btn{
        font-size: 20px;
        width: 200px;
        height: 55px;
    }

    header{
        background-color: transparent;
    }
    #logo{
        margin-top: 10px;
        margin-bottom: 0px;
        font-family: "Playfair Display", sans-serif;
        font-style: italic;
        font-size: 48px;
        font-weight: 800;
        color: #20473D;
        width: 173.666px;
        height: 67px;
        flex-shrink: 0;
        text-decoration: none;
    }
    header nav{
        flex-grow: 2;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        background-color: #0E2C25;
        width: 100%;
        height: 90px;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        border-radius: 0px 0px 0px 30px;
        position: 0;
        gap: none;
    }
    
    nav ul li a{
        margin-left: 0px;
        padding-left: 0px;
    }

    #hero-img{
        width: 40vw;
        height: 70vh;
        margin: 100px 50px 50px 50px;
    }
    h2{
        font-size: 48px;
    }   
    body h1{
        font-size: 75px;
    }
    .left-hero{
        gap: 2em;
    }
    .left-hero h1 , .left-hero p{
        width: 500px;
    }

    .left-hero p{
        font-size: 24px;
    }
    .btn-group{
        width: 500px;
    }
    .btn-group button{
        font-size: 20px;
    }

    .resource-item{
        width: 300px;
    }

    .community-contents{
        height: 600px;
        width: 800px;
    }

}


/********************************* ABOUT PAGE ********************************************/
.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section h1{
    text-align: center;
}