/* Header CSS  */

body{
    display: flex;
    flex-direction: column;
    background-color: #FFFBEC;
    color: #0E2C25;
    width: fit-content;
    margin: 0;
}
body h2{
    font-family: "Playfair Display", serif;
    font-size: 10vw;
    text-align: center;
}
body p {
    font-family: 'Montserrat', sans-serif;
    font-size: 7vw;
    text-align: center;
}
body h1{
    font-family: "Playfair Display", serif;
    font-size: 15vw;
    font-weight: 700;
}

header{
    display: flex;
    background-color: #0E2C25;
}

#logo{
    margin: 10px 0 0 25px;
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-size: 48px;
    font-weight: 800;
    color: #FFF;
    height: 67px;
    text-decoration: none;
}
nav{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
}
#mobile-tophero{
    height: 50vh;
    width: auto;
    background: #0E2C25 url(/assets/hero-img-fotor.jpg) center/cover no-repeat;
}
/* hero section */

.hero-wrap{
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 0;

}
.left-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-hero h1{
    margin: 0 25px 10px 25px;
    height: fit-content;
}

.left-hero p {
    margin: 40px 25px 40px 25px;
    text-align: left;
    height: fit-content;
}
.right-hero{
    display: none;
}

.btn-group{
    display: flex;
    gap: 2em;
    margin: 25px 25px 0 25px;
    height: fit-content;
}

.btn-group button{
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 5vw;
    font-weight: 600;
    width: 40vw;
    height: 6vh;
    border-radius: 18px;
    background-color: #0E2C25;
}

/* Data Section */

.data-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0E2C25;
    width: 100%;
    padding: 60px 0 60px 0;
    gap: 1.5px;
}

.data-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 90%;
    background-color: white;
    border-radius: 10px;
}

.data-items span{
    font-size: 20vw;
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-weight: 800;
}

/* Introduction Section */

.intro-wrap{
    margin: 50px 0 50px 0;

}
.intro-wrap div {
    margin: 25px 25px 25px 25px;
}

/* Provider Section */

.provider-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0E2C25;
}

.provider-section h2{
    margin-top: 100px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.provider-section .card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 20px;
    height: 100%;
}
.provider-section div:first-child{
    width: 80vw;
    height: 30vh;
    border-radius: 25px 25px 25px 25px;
    background: url(assets/provider-img.jpg) lightgray center / cover no-repeat;
    box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
}

.provider-section .card div:nth-child(2){  
    width: 80vw;
    height: 25vh;
    border-radius: 15px;
    background: #FFFBEC;
    box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);

    
}
#provider-btn{
    margin-bottom: 100px;
    width: 264px;
    height: 58px;
    color: #fff;
    border-radius: 18px;
    border: 3px solid #fff; 
    background-color: transparent;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    align-self: center;
}

/* Resource Section */


.resource-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 25px;
}
.resources{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.resource-img{
    background-color: #0E2C25;
    height: 200px;
    width: 200px;
}
.resource-item:first-child .resource-img{
    border-radius: 150px 15px 15px 15px;
    box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
}
.resource-item:nth-child(2) .resource-img{
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
}
.resource-item:nth-child(3) .resource-img{
    border-radius: 15px 150px 15px 15px;
    box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
}

.resource-btn{
    width: 264px;
    height: 58px;
    margin-top: 40px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #0E2C25;
    background-color: transparent;
    border-radius: 18px;
    border: 3px solid #0E2C25;
    flex-shrink: 0;
    align-self: center;
}


/* Community Section */

.community-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 25px;
}

.community-wrap h2{
    padding-top: 100px;
}

.form-wrap{
    align-self: center;
    margin-top: 70px;
    margin-bottom: 200px;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 4px 40px 4px rgba(0, 0, 0, 0.25);
}

form{
    width: 100%;
    margin-top: 50px;
    font-size: 24px;
}

form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    gap: 2rem;
}

form div label{
    font-size: 6vw;
    font-family: 'Montserrat', sans-serif;
}

form div input{
    width: 90%;
    height: 4vh;
    border-radius: 10px;
    border-color: rgb(146, 146, 146);
}

#form-submit{
    font-family: 'Montserrat', sans-serif;
    background-color: #0E2C25;
    color: #fff;
    font-size: 6vw;
}

/* Footer */

footer{
    text-align: center;
    height: 200px;
    background-color: #0E2C25;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
footer #logo{
    margin-left: 0;
}


@media (min-width: 950px) {
    nav{
        display: flex;
    }

    header{
        display: flex;
        width: 100%;
        background-color: #0E2C25;
    }
    #logo{
        color: #FFFBEC;
        flex-grow: 1;
    }

    nav ul{
        display: flex;
        gap: 2rem;
        list-style: none;
        align-items: center;
    }
    .nav-items{
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.0vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        text-decoration: none;
    }
    
    li:first-child{
        margin-left: 30px;
    }

    
    #nav-btn{
        font-size: 2.0vw;
        font-weight: 600;
        color: #fff;
        border-radius: 10px;
        border: 3px solid #FDB733;
        background: #FDB733;
        width: 20vw;
        height: 2vh;
    }

    #mobile-tophero{
        display: none;
        height: 0;
        width: 0;
    }

    .hero-wrap{
        flex-direction: row;
        height: 900px;
        width: 100%;
    }
    .left-hero{
        width: 50%;
    }
    .right-hero{
        display: flex;
        width: 50%;
        height: 100%;
        background-color: #FDB733;
    }

    .data-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #0E2C25;
        width: 100%;
    }
    
    .data-items{
        color: #FFF;
        font-family: "Playfair Display";
        font-size: 96px;
        font-style: normal;
        font-weight: 800;
        line-height: 70px;
    }
    
    .data-items span{
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 400;
    }


    .intro-wrap{
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .intro-wrap div {
        width: 100%;
    }
    .intro-wrap h2{
        color: #0E2C25;
        text-align: center;
        font-family: "Playfair Display";
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .intro-wrap p{
        color: #0E2C25;
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
        margin-top: 100px;
    }

    .provider-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1024px;
        background-color: #0E2C25;
    }
    
    .provider-section h2{
        padding-top: 100px;
        color: #fff;
        text-align: center;
        font-family: "Playfair Display";
        font-size: 4vh;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .provider-section .card{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        height: 100%;
    }
    .provider-section div:first-child{
        width: 80vw;
        height: 30vh;
        border-radius: 25px 25px 25px 25px;
        background: url(assets/provider-img.jpg) lightgray center / cover no-repeat;
        box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
        margin-left: 87px;
    }
    
    .provider-section .card div:nth-child(2){  
        width: 80vw;
        height: 25vh;
        border-radius: 15px;
        background: #FFFBEC;
        margin-left: 87px;
        margin-top: 10px;
        box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
        
    }
    #provider-btn{
        width: 264px;
        height: 58px;
        flex-shrink: 0;
        color: #fff;
        border-radius: 18px;
        border: 3px solid #fff; 
        background-color: transparent;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        align-self: center;
    }
    
    #provider-btn:hover{
        background-color: #a8867d;
        border: 3px solid #a8867d;  
        color:white
    }
    
    .resource-wrap h2{
        padding-top: 100px;
        color: #0E2C25;
        text-align: center;
        font-family: "Playfair Display";
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .resource-wrap p {
        color: #0E2C25;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    
    }
    
    .resource-wrap .resources{
        display: flex;
        justify-content: center;
        gap: 3em;
        margin-top: 70px;
    }
    
    .resource-item{
        display: flex;
        flex-direction: column;
    
    }
    
    .resource-img{
        /* width: 450px; */
        height: 500px;
        /* flex-shrink: 0; */
        background-color: #0E2C25;
    }
    
    .resource-item:first-child .resource-img{
        border-radius: 150px 15px 15px 15px;
        box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
    }
    .resource-item:nth-child(2) .resource-img{
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
    }
    .resource-item:nth-child(3) .resource-img{
        border-radius: 15px 150px 15px 15px;
        box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
    }
    
    .resource-btn{
        width: 264px;
        height: 58px;
        margin-top: 40px;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        color: #0E2C25;
        background-color: transparent;
        border-radius: 18px;
        border: 3px solid #0E2C25;
        flex-shrink: 0;
        align-self: center;
    }
    
    .resource-btn:hover{
        background-color: #a8867d;
        border: 3px solid #a8867d;  
        color:white;
    }


}

@media (min-width: 1200px){ 
    header{
        background-color: transparent;
    }
    #logo{
        margin-top: 10px;
        margin-bottom: 0px;
        font-family: "Playfair Display", sans-serif;
        font-style: italic;
        font-size: 48px;
        font-weight: 800;
        line-break: normal;
        color: #20473D;
        width: 173.666px;
        height: 67px;
        flex-shrink: 0;
        text-decoration: none;
    }
    header nav{
        flex-grow: 2;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        background-color: #0E2C25;
        width: 100%;
        height: 90px;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        border-radius: 0px 0px 0px 30px;
        position: 0;
        gap: none;
    }
    
    nav ul li a{
        margin-left: 0px;
        padding-left: 0px;
    }

    /* #hero-img{
    height: 70%;
    width: 80%;
    margin-left: 50px;
    margin-top: 176px;
    border-radius: 15px 500px 500px 15px;
    background: url(assets/hero-img-fotor.jpg) lightgray center / cover no-repeat;
    box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
} */

    .provider-section div:first-child{  
        z-index: 900;
        width: 20%;
        height: 60%;
        border-radius: 500px 500px 15px 15px;
        background: url(assets/provider-img.jpg) lightgray center / cover no-repeat;
        box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
        margin-left: 10%;
    }

    .provider-section .card div:nth-child(2){  
        position: absolute;
        z-index: 1;
        width: 984px;
        height: 566px;
        border-radius: 15px;
        background: #FFFBEC;
        margin-left: 30%;
        margin-top: 50px;
        box-shadow: 0px 4px 100px 10px rgba(0, 0, 0, 0.25);
        
    }
    
    #nav-btn:hover{
        background-color: #a8867d;
        border: 3px solid #a8867d;
        color:white
    }


}